.modal-trailer {
  &__video-wrapper {
    position: relative;
    width: 100%;

    padding-bottom: 56.25%;
    overflow: hidden;
  }

  &__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }

  &__empty {
    text-align: center;
  }
}
