@use '@/style/breakpoints' as *;

.top-movies {
  padding: 20px 0 40px 0;
  &__title {
    font-size: 40px;
    line-height: 48px;
    margin: 0 0 64px 0;
  }

  &__spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
  }

  &__item {
    flex: 0 1 224px;
  }
}
