.genre-card {
  border-radius: 24px;
  box-shadow: 0 0 80px 0 rgba(255, 255, 255, 0.33);
  border: 1px solid rgba(255, 255, 255, 0.25);

  &__top {
    overflow: hidden;
    border-radius: 24px 24px 0 0;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__link {
    display: block;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 0 0 24px 24px;
    background: #0a0b0b;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
