.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  &__button {
    width: 100%;
    &:hover,
    &:focus-visible {
      background-color: #efe3e3;
    }
  }

  > :nth-last-child(2) {
    margin-bottom: 24px;
  }

  &__error {
    color: var(--error-color);
  }
}
