.info-account {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 64px;

  &__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff80;
    border-radius: 100%;
    font-weight: 700;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__label {
    font-size: 18px;
    line-height: 24px;
  }

  &__info {
    font-weight: 700;
  }
}
