.genre-movies {
  padding: 64px 0;

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    margin: 0 0 64px 0;
  }

  &__title {
    margin: 0;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  &__list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px 64px;
  }
  &__item {
    height: 100%;
    transform: translateY(10px);
    animation: genre-movie-fade-in 0.6s ease forwards;
  }
}

@keyframes genre-movie-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
