.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  outline: none;
}

.link-default {
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 1.5px;
    background: var(--border-link-color);
    opacity: 0;
    transition:
      opacity 0.2s,
      transform 0.2s,
      color 0.2s;
    transform: scaleX(0);
  }

  &:hover::before,
  &:focus-visible::before {
    opacity: 1;
    transform: scaleX(1);
  }

  &:active {
    color: var(--active-link-color);
  }
}

.link--logo {
}

.link--button {
  background-color: var(--btn-secondary-color);
  border: 1px solid var(--btn-secondary-border-color);
  padding: 16px 48px;
  border-radius: 28px;
  color: var(--text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &:hover,
  &:focus {
    background-color: var(--btn-hover-color);
    color: var(--text-color-hover);
  }

  &:disabled {
    background-color: var(----btn-disabled-color-secondary);
    color: var(--text-disabled-color);
  }
}

.link--svg {
}

.link--img {
  display: block;
}

.top-movie-card--favorite {
  .top-movie-card__remove {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 100%;
    color: #000;
    opacity: 0;
    transition:
      opacity 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    &:hover,
    &:focus-visible {
      transform: scale(1.2);
    }
  }

  &:hover .top-movie-card__remove {
    opacity: 1;
  }
}
