.genres {
  padding: 64px 0;

  &__title {
    margin-bottom: 64px;
  }

  &__list {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px 64px;
  }
}
