.spinner {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(128, 131, 255, 0.2);
  border-top-color: #8052ff;
  border-right-color: #3fa9ff;

  animation: spinner-rotate 0.6s linear infinite;

  &--sm {
    width: 18px;
    height: 18px;
    border-width: 2px;
  }

  &--lg {
    width: 60px;
    height: 60px;
    border-width: 4px;
  }
}

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
