.footer {
  padding: 40px 0;
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    width: 100%;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    width: 36px;
    height: 36px;
    border: 1px solid var(--link-footer);
    border-radius: 8px;
    color: var(--link-footer);
    transition:
      border-color 0.3s ease-in-out,
      border-radius 0.3s ease-in-out;

    &:hover {
      border-color: var(--border-link-color);
    }

    &:focus-visible {
      border-color: var(--border-link-color);
      border-radius: 100%;
    }
  }
  &__icon {
    width: 18px;
    height: 10px;
  }
}
